.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #1e1e1e;
  min-height: 100vh;
}

#chest[rotate='1'] {
  animation: shakeChest 0.5s linear;
}

@keyframes shakeChest {
  0% { transform: translateY(-20vh), rotate(0deg); }
  25% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  75% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}